@charset "utf-8";
/* CSS Document */

/* Table of Contents
-----------------------------------------------------------------------------
1. Fonts
2. Clean Base
3. Base Typography
*/

/* 1. Fonts
------------------------------------------------------------------------------*/

/*
body - 16px 28px/21px General Sans 400/600
btn - 14px 28px General Sans 400
h1 - 62px 88px General Sans 700/500
h2 - 34px 50px General Sans 700
h3 - 36px 55px General Sans 600
h4 - 20px 28px General Sans 500
h5 - 18px 24px General Sans 600
h6 - 16px 24px General Sans 600
*/

@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-Extralight.woff2') format('woff2'),
       url('../fonts/GeneralSans-Extralight.woff') format('woff'),
       url('../fonts/GeneralSans-Extralight.ttf') format('truetype'),
       url('../fonts/GeneralSans-Extralight.svg#GeneralSans-Extralight') format('svg');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-ExtralightItalic.woff2') format('woff2'),
       url('../fonts/GeneralSans-ExtralightItalic.woff') format('woff'),
       url('../fonts/GeneralSans-ExtralightItalic.ttf') format('truetype'),
       url('../fonts/GeneralSans-ExtralightItalic.svg#GeneralSans-ExtralightItalic') format('svg');
       font-weight: 200;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-Light.woff2') format('woff2'),
       url('../fonts/GeneralSans-Light.woff') format('woff'),
       url('../fonts/GeneralSans-Light.ttf') format('truetype'),
       url('../fonts/GeneralSans-Light.svg#GeneralSans-Light') format('svg');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-LightItalic.woff2') format('woff2'),
       url('../fonts/GeneralSans-LightItalic.woff') format('woff'),
       url('../fonts/GeneralSans-LightItalic.ttf') format('truetype'),
       url('../fonts/GeneralSans-LightItalic.svg#GeneralSans-LightItalic') format('svg');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('../fonts/GeneralSans-Regular.woff') format('woff'),
       url('../fonts/GeneralSans-Regular.ttf') format('truetype'),
       url('../fonts/GeneralSans-Regular.svg#GeneralSans-Regular') format('svg');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-Italic.woff2') format('woff2'),
       url('../fonts/GeneralSans-Italic.woff') format('woff'),
       url('../fonts/GeneralSans-Italic.ttf') format('truetype'),
       url('../fonts/GeneralSans-Italic.svg#GeneralSans-Italic') format('svg');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'),
       url('../fonts/GeneralSans-Medium.woff') format('woff'),
       url('../fonts/GeneralSans-Medium.ttf') format('truetype'),
       url('../fonts/GeneralSans-Medium.svg#GeneralSans-Medium') format('svg');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-MediumItalic.woff2') format('woff2'),
       url('../fonts/GeneralSans-MediumItalic.woff') format('woff'),
       url('../fonts/GeneralSans-MediumItalic.ttf') format('truetype'),
       url('../fonts/GeneralSans-MediumItalic.svg#GeneralSans-MediumItalic') format('svg');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-Semibold.woff2') format('woff2'),
       url('../fonts/GeneralSans-Semibold.woff') format('woff'),
       url('../fonts/GeneralSans-Semibold.ttf') format('truetype'),
       url('../fonts/GeneralSans-Semibold.svg#GeneralSans-Semibold') format('svg');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-SemiboldItalic.woff2') format('woff2'),
       url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'),
       url('../fonts/GeneralSans-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/GeneralSans-SemiboldItalic.svg#GeneralSans-SemiboldItalic') format('svg');
       font-weight: 600;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-Bold.woff2') format('woff2'),
       url('../fonts/GeneralSans-Bold.woff') format('woff'),
       url('../fonts/GeneralSans-Bold.ttf') format('truetype'),
       url('../fonts/GeneralSans-Bold.svg#GeneralSans-Bold') format('svg');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'GeneralSans';
  src: url('../fonts/GeneralSans-BoldItalic.woff2') format('woff2'),
       url('../fonts/GeneralSans-BoldItalic.woff') format('woff'),
       url('../fonts/GeneralSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/GeneralSans-BoldItalic.svg#GeneralSans-BoldItalic') format('svg');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}




/* 2. Clean Base
------------------------------------------------------------------------------*/
html, body, br, hr, div, span, a, object, iframe, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote, q, address,
small, big, cite, dfn, ins, del, i, em, b, strong, sup, sub, strike, pre, code, samp, kbd, var, tt, form, fieldset, legend, label,
input, textarea, option, .nobox {background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section {display: block;}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}
blockquote, q {quotes: none;}
br {height: 0;}
ul, ol, dl, li {margin:0; padding:0;}
ul, ol {padding-left: 18px;}
html, body{height: 100%; border:none; -webkit-appearance:none;-ms-appearance:none; -webkit-text-size-adjust:none;-ms-text-size-adjust:none;}

/* Class for clearing floats */
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.cf:after,.cf:before{display: table;content: ''}
.cf:after{clear: both;}
*, *:before, *:after {-webkit-box-sizing: border-box;box-sizing: border-box;}

/* 3. Base Typography
------------------------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'GeneralSans';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #6E6F71;
}

body:not(.single-post,.clinic-long-content) main {
    overflow: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #1D1E31;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0px auto;
    padding: 0 20px !important;
}
.container_full {
    width: 100%;
    margin: 0;
    padding: 0;    
}

h1 , .head1{
    font-size: 62px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'GeneralSans';
}

h2 , .head2{
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'GeneralSans';
}

h3 , .head3{
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'GeneralSans';
}

h4 , .head4{
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'GeneralSans';
}

h5 , .head5{
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 7px;
    font-family: 'GeneralSans';
}

h6 , .head6{
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 7px;
    font-family: 'GeneralSans';
}

h1, h2, h3, h4, h5, h6 {
    color: #1D1E31;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

p:last-of-type {
    margin-bottom: 0;
}
/*=======Form-Design-Start=========*/

/*input {
font-family: 'articulat-cf';
}
*/
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="url"],
form textarea {
    width: 100%;
    display: block;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    font-size: 12px;
    border-radius: 40px;
    line-height: 1;
    padding: 6px 20px 6px 30px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    outline: none !important;
    color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 43px;

}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #9A9393;
}
input::-moz-placeholder, textarea::-moz-placeholder{
    color: #9A9393;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color: #9A9393;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder{
    color: #9A9393;
}
input::placeholder , textarea::placeholder{
    color: #9A9393;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form textarea:focus {
    outline: 1px solid #303030;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    font-size: 18px;
    line-height: 1;
    padding: 14px 10px;
    border: 1px solid #000000;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #000000;
    color: #ffffff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
    background-color: transparent;
    color: #000000;
}
input, 
select, 
textarea {
    font-family: inherit;
}

img {
    height: auto;
    max-width: 100%;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.align-center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.text-center{
    text-align: center;
}
body.scroll-hidden {
    overflow: hidden;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.row > *{
    padding: 0 15px;
}
.row.no-gutters{
    margin: 0;
}
.row.no-gutters > div{
    padding: 0;
}
.row .col-12{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.row .col-9{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.row .col-8{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.row .col-7{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33%;
    flex: 0 0 58.33%;
    max-width: 58.33%;
}
.row .col-6{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.row .col-5{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66%;
    flex: 0 0 41.66%;
    max-width: 41.66%;
}
.row .col-4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.row .col-3{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.btn {
    padding: 12px 28px;
    display: inline-block;
    border: 2px solid;
    border-radius: 12px;
    font-weight: 600;
    font-family: 'GeneralSans';
    transition: all 0.4s ease;
}
.btn.blue_border {
    color: #045E95;
}
.btn.blue_border:hover {
    background-color: #045E95;
    color: #fff;
    border-color: #045E95;
}
.btn.yellow_btn {
    background: #F7941F;
    border-color: #F7941F;
    color: #fff;
    min-width: 192px;
    text-align: center;
}
.btn.yellow_btn:hover {
    background-color: transparent;
    color: #F7941F;
}
.blue_title {
    margin: 0;
    position: relative;
    padding: 7px 0px 7px 30px;
    min-height: 43px;
    color: #045E95;
    font-weight: 500;
    letter-spacing: 6px;
}
.blue_title:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16px;
    background-color: #045E95;
    border-radius: 6px 6px 0 20px;
}
.heading_text h2 {
    margin: 12px 0 0;
}

/*header css start*/
header {
    padding: 20px 0;
}
header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px 20px;
}
header .logo_col {
    width: 100%;
    max-width: 150px;
}
header nav.header_link ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0 25px;
}
header nav.header_link ul li a {
    position: relative;
    transition: all 0.4s ease-in-out;
}
header nav.header_link ul li a:hover {
    color: #045E95;
}
header nav.header_link ul li a:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #045E95;
    background-color: #045E95;
    transition: all 0.4s ease-in-out;
}
header nav.header_link ul li a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}
/*header css end*/
/*footer css start*/
footer {
    background: #DCEBF6;
}
footer .row {
    gap: 30px 0;
}
footer .row .footer_col {
    flex: 0 0 calc(33.33% - 96.7px);
    max-width: calc(33.33% - 96.7px);
    display: flex;
    justify-content: center;
}
footer .row .footer_col:nth-child(1) {
    flex: 1 0 auto;
    max-width: 290px;
}
footer .footer_top {
    padding: 60px 0 50px;
    border-bottom: 2px solid #045E9540;
}
footer .row .footer_col a + p {
    margin-top: 20px;
}
footer .footer_content > h4 {
    color: #045E95;
    margin-bottom: 20px;
}
footer .footer_content p span {
    display: block;
    color: #F7941F;
    font-weight: 500;
    margin-top: 5px;
    font-family: GeneralSans-Medium;
}
footer .footer_content ul {
    padding: 0;
    list-style: none;
}
footer .footer_content ul li:not(:last-child) {
    margin-bottom: 10px;
}
footer .footer_content .footer_contact_list a,
footer .footer_content .footer_contact_list p {
   position: relative;
   display: block; 
   padding-left: 30px;
}
footer .footer_content .footer_contact_list a img,
footer .footer_content .footer_contact_list p img {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    max-width: 20px;
    max-height: 20px;
}
footer .footer_copyright {
    padding: 20px 0;
    text-align: center;
}
footer a, 
footer p {
    color: #1D1E31;
}
/*footer css end*/
/*banner section css start*/
.banner_section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_section .container {
    max-width: 1320px;
}
.banner_section .banner_slide {
    height: calc(100vh - 90px);
    min-height: 550px;
    display: flex !important;
    align-items: center;
    overflow: hidden;
}
.banner_section .banner_slide .row {
    align-items: center;
}
.banner_section .banner_slide .content_col {
    flex: 0 0 57.557%;
    max-width: 57.557%;
}
.banner_section .banner_slide .image_col {
    flex: 0 0 42.443%;
    max-width: 42.443%;
}
.banner_section .banner_slide .banner_image {
    position: relative;
}
.banner_section .banner_image .banner_image_inner img {
    width: 100%;
    display: block;
    margin: 0;
}
.banner_section .banner_slide .banner_image .shape_images img:first-child {
    position: absolute;
    top: 0;
    right: 0;
}
.banner_section .banner_slide .banner_image .shape_images img:last-child {
    position: absolute;
    left: 40px;
    bottom: 0;
}
.banner_section .banner_slide .banner_content_inner {
    width: 100%;
    max-width: 560px;
}
.banner_section .banner_slide .banner_content_inner h1 {
    color: #1D1E31;
    font-weight: 500;
    margin: 0;
}
.banner_section .banner_slide .banner_content_inner h1 span {
    font-weight: 700;
    color: #045E95;
}
.banner_section .banner_slide .banner_content_inner p {
    margin-top: 20px;
}
.banner_section .banner_slide .banner_content_inner .btn {
    margin-top: 40px;
}
/*.progress {
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  
  background-color: #f5f5f5;
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  
  transition: background-size .4s ease-in-out;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}*/
/*banner section css end*/
/*welcome section css start*/
.welcome_section .row, 
.welcome_section .row > * {
    margin: 0;
    padding: 0;
}
.welcome_section .row .image_col {
    flex: 0 0 50%;
    max-width: 50%;
}
.welcome_section .row .content_col {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
}
.welcome_section .welcome_image .welcome_image_inner {
    position: relative;
    overflow: hidden;
    padding-top: 79%;
    z-index: 1;
    border-radius: 0 0 151px 0;
}   
.welcome_section .welcome_image .welcome_image_inner:after {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(4, 94, 149, 0.15);
    z-index: -1;
    border-radius: 0 52px 0 0;
}
.welcome_section .welcome_image .welcome_image_inner img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.welcome_section .row .content_col .welcome_content {
    padding: 20px 20px 20px 60px;
    width: 100%;
    max-width: 660px;
}
.welcome_section .row .content_col .welcome_content h2 {
    margin: 12px 0 0;
}
.welcome_section .row .content_col .welcome_content p {
    margin: 20px 0 0;
}
.welcome_section .row .content_col .welcome_content .btn {
    margin-top: 40px;
}
/*welcome section css end*/
/*services section css start*/
.services_section {
    padding: 110px 0;
}
.services_section .service_content {
    margin-top: 50px;
}
.services_section .service_content .content_col {
    flex: 0 0 20%;
    max-width: 20%;
}
.services_section .service_content .content_col .service_card {
    padding: 20px 20px;
    border: 1px solid rgba(4, 94, 149, 0.15);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 154px; */
}
.services_section .service_content .content_col .service_card .service_card_icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: rgba(4, 94, 149, 0.10);
}
.services_section .service_content .content_col .service_card h5 {
    margin: 14px 0 0;
}
/*services section css end*/
/*cta section css start*/
.cts_section .cta_content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 80px;
    padding: 20px 60px;
}   
.cts_section .cta_content .row {
    flex-direction: row-reverse;
}
.cts_section .cta_content .row .image_col {
    flex: 0 0 414px;
    max-width: 414px;
}
.cts_section .cta_content .row .content_col {
    flex: 0 0 calc(100% - 414px);
    max-width: calc(100% - 414px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} 
.cts_section .cta_content .row .image_col .cta_image {
    margin: -60px 0 -20px;
    position: relative;
    padding-top: 104.255%;
    overflow: hidden;
    /* width: 100%; */
    /* max-width: 346px; */
}
.cts_section .cta_content .row .image_col .cta_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}
.cts_section .cta_content_inner h3 {
    color: #fff;
}
/*cta section css end*/
/*product section css start*/
.product_section {
    padding: 110px 0;
}
.product_section .product_slider_sec {
    margin-top: 50px;
}
.product_section .row.heading_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product_section .row.heading_row .heading_text {
    flex: 0 0 calc(100% - 140px);
    max-width: calc(100% - 140px);
}
.product_section .row.heading_row .slider_btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 0 0 140px;
    max-width: 140px;
}
.product_section .slider_btn button {
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    color: #fff;
    font-size: 20px;
    border: 1px solid #F7941F;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
}
.product_section .slider_btn button.product_prev_btn {
    border-radius: 12px 0 0 12px;
}
.product_section .slider_btn button.product_next_btn {
    border-radius: 0 12px 12px 0;
}
.product_section .slider_btn button:hover {
    color: #F7941F;
    background-color: #fff;
}
.product_section .product_slider {
    margin: 0 -12px;
}
.product_section .product_slider .slick-slide {
    margin: 0 12px;
}   
.product_section .product_card {
    padding: 20px 20px;
    border-radius: 28px;
    border: 1px solid rgba(4, 94, 149, 0.15);
    background: #FFF;
}
.product_section .product_card .product_image {
    display: block;
    position: relative;
    z-index: 1;
}
.product_section .product_card .product_image .product_image_inner {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding-top: 118.4%;
}
.product_section .product_card .product_image .product_image_inner img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}
.product_section .product_card .product_image .badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-radius: 10px;
    background-color: #1882AB;
    display: block;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 5px 11px;
}
.product_section .product_card .product_content {
    padding-top: 20px;
}
.product_section .product_card .product_content label {
    color: #1882AB;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}
.product_section .product_card .product_content h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*product section css end*/


/*Responsive css start*/
@media (max-width: 1280px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
/*Responsive css end*/